script(src='https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js' )
script(src='https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js' async)
script(src='https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js' async )
script(src='https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap.min.js' async)
script(src='/javascript/dataTable.js' async)