link(rel="stylesheet" class="theme" type="text/css" href="/css/dark.css")
script(src='/javascript/darkmode.js' async )
script(src='/javascript/serviceWorker.js' async )
script(src='version.js' async )