script(src="https://code.jquery.com/jquery-3.3.1.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async)
script(src='/javascript/darkmode.js' async )
script(src='/javascript/serviceWorker.js' async )
script(src='version.js' async )
link(rel='stylesheet' id="bootstrap-theme" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" )  
link(rel='stylesheet' type="text/css" href='https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap.min.css')
link(rel="stylesheet" type="text/css" href="/css/main.css")
link(rel="stylesheet" class="theme" type="text/css" href="/css/light.css")
link(rel="stylesheet" class="theme" type="text/css" href="/css/dark.css")