link(rel='stylesheet' id="bootstrap-theme" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" )
link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
link(rel="stylesheet" class="theme" type="text/css" href="/stylesheets/light.css")
link(rel="stylesheet" class="theme" type="text/css" href="/stylesheets/dark.css")
script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" )
script(src='/javascripts/darkmode.js')
script(src='/javascripts/serviceWorker.js')
script(src='version.js')