/* Dark theme basic css
main background color: #1f2127
secondary background color:  #1F1F1F;
font color: #cccccc;
color: #cccccc;
text-shadow: 0 -1px 0 rgba(0,0,0,.25);
glossary color and border: #02b396
*/

body {
  background-color: #1f2127;
  color: #cccccc;
  line-height: 120%;
}

/* place holder while the theme is applied in the background */


.jumbotron {
  background-color: #1f2127;
  border: 0px !important;
}

a {
  color: #00B7FF;
}



.navbar-inverse {
  background-image: none;
  color: white;
}

.choice:hover {
  background-color: #7900C2 !important;
}

.navbar {
  background-color: #000;
}

.navbar-inverse {
  background-image: none;
  color: white;
}

.navbar-default .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a {
  border-right: 0px;
  border-left: 0px;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

/*
 * Global add-ons
 */

.glossary {
  border-bottom: 1px #02b396 dotted;
  color: #02b396;
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.bs-callout {
  background-color: #454545;
}


.bs-callout-caution {
  background-color: #7d4c02;
  border-color: #827700;
}

/* Themes for different contexts */

.bs-callout-lowdec {
  background-color: #626e75;
  border-color: #00426c;
}

/* Themes for different contexts */

.bs-callout-danger {
  background-color: #520502;
  border-color: #7f0006;
}

.bs-callout-unsafe {
  background-color: #713900;
  border-color: #a05406;
}

.bs-callout-lowinc {
  background-color: #0c4a16;
  border-color: #077c1b;
}

.bs-callout-ss {
  background-color: #353a41;
  border-color: #00a388;
}

.catcallout {
  background-color: #242424;
}

.phaedra-colors .label-default {
  background-color: #5680ab !important;
}

.label-default {
  background-color: #5680ab !important;
}

.label {
  color: #1c2227 !important;
}


/* .nav-sidebar>.active>a,
.nav-sidebar>a:hover {
  background-color: #1F1F1F;
} */

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
  color: #fff;
  background-color: #428bca;
}


.divider {
  background-color: #2f2e2e !important;
}

input {
  background-color: #353a41 !important;
  border-color: #2a2e33 !important;
  color: #c8c8c8 !important;
}

select,
.form-control input-sm {
  background-color: #353a41 !important;
  color: #c8c8c8 !important;
}

input,
textarea {
  color: #c8c8c8 !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  border: 0px !important;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
  color: #fff;
  background-color: #428bca;
}

#grid>.sidebar>ul {
  background-color: #2e3338;
  border-right: 1px solid #1d1d1d;
}